<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rion.mapper.AdminMapper">

    <select id="selectAll" resultType="com.rion.pojo.packageDetail">
        select id,address , pid ,time , pay from rion1 order by time desc

    </select>


<update id="updatePay" parameterType="String">
    update rion1 set pay = 1 where address = #{address};

</update>

    <select id="selectByAddress" parameterType="String" resultType="com.rion.pojo.packageDetail">
        select * from rion1 where address=#{address}
    </select>
    <select id="countPidById" parameterType="int" resultType="int">
        select count(*) from rion1 where pid=#{id}
    </select>

</mapper>
