<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rion.mapper.PackMapper">
<insert id="insertByAddress" >
    insert into rion1 (address,pay,pid,time) values(#{address},#{pay},#{pid},#{time});
</insert>
<select id="selectByAddress" resultType="int">
    select count(id) from rion1 where address = #{address} limit 1;

</select>



</mapper>
